<!-- Navigation with fullscreen overlay -->
<nav id="mainNav" class="navbar fixed-top">
  <div class="container navbar-desktop d-md-flex d-none">
    <ul class="nav text-uppercase text-center m-auto">
      <li class="nav-item">
        <a class="nav-link <%= nav_active 'about.html' %>" href="/en/about.html"><span>About</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= nav_active 'resume.html' %>" href="/en/resume.html"><span>Resume</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= nav_active 'work.html' %>" href="/en/work.html"><span>Work</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= nav_active 'contact.html' %>" href="/en/contact.html"><span>Contact</span></a>
      </li>
      <li class="nav-setting">
        <a class="nav-link" href="setting.html"><span><i class="fas fa-cog"></i></span></a>
      </li>
    </ul>
  </div>

  <div class="container-fluid navbar-mobile d-block d-md-none justify-content-end px-0">
    <div class="navbar-toggler text-right px-0" onclick="openNav()">
      <i class="material-icons">menu</i>
    </div>

    <div id="overlayNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
        <i class="material-icons">close</i>
      </a>

      <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
          <ul class="navbar-nav text-uppercase text-center m-auto">
            <li class="nav-item">
              <a class="nav-link <%= nav_active 'about.html' %>" href="en/about.html"><span>About</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= nav_active 'resume.html' %>" href="en/resume.html"><span>Resume</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= nav_active 'work.html' %>" href="en/work.html"><span>Work</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= nav_active 'contact.html' %>" href="en/contact.html"><span>Contact</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= nav_active 'setting.html' %>" href="en/setting.html"><span>Setting</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
